<!DOCTYPE html>
<html>
<head>
	
</head>

<body>
<form method="post" enctype="multipart/form-data" name="file">
  {% csrf_token %}
  <input type="file" name="file" accept="image/*"/>
  <input type="submit" name="image_upload" value="Upload" />
</form>
</body>
<br><br>
{% if damage_report %}
  <img src="data:image/png;base64,{{uploaded_image | safe}}"/>
  <br><br>

  {% for message in messages %}
			    {% if 'error' in message.tags and 'damaged' in message.tags %}
			    <div class="success-message" style ="color: #00FF00">{{ message }}</div>
			    
          {% elif 'success' in message.tags and 'not_damaged' in message.tags %}
			    <div class="success-message" style ="color: #ff0000">{{ message }}</div>
			    {% endif %}

			{% endfor %}

  <!--{{damage_report}}-->
  <br>
{% endif %}
</html>